*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
/* header and nevigation style */
.nav title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px ;
}
nav li{
  list-style: none;
 margin-left: 50px;
}
nav ul{
display: flex;
}
.text-primary{
    color: #FD6E0A;
}